___________________________________________
# PitE winter 2022
## Lab2 - Python

### Variables

In [3]:
var = 20           # Integer data
var1 = 20.0        # Float data
var2 = False       # Boolean data
var3 = -20         # Integer data

In [4]:
# Printing the variables 
print(var)
print(var1)
print(var2)
print(var3)

20
20.0
False
-20

In [5]:
print(type(var))
print(type(var1))
print(type(var2))
print(type(var3))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'int'>

In [6]:
add = 10 + 5        # Addition
sub = 10 - 5       # Subtraction
mul = 10 * 5       # Multiplication
div = 10 / 5       # Division
exp = 10 ** 5      # Exponent
floor = 13 // 5    # Floor division
mod = 13 % 5       # Modulus operator

In [7]:
print(add)
print(sub)
print(mul)
print(div)
print(exp)
print(floor)
print(mod)

15
5
50
2.0
100000
2
3

### Ex. 1

Find how to convert int to float and vice versa.

In [11]:
intVal = int(1.7)
print(intVal)
floatVal = float(intVal)
print(floatVal)

1
1.0

### Lists and Dicts

In [12]:
num = [ ]
num = [ 1, 2, 3, 4, 5]
num

[1, 2, 3, 4, 5]

In [13]:
num = [1, 2, 3, "Tanu", 4.0, 4/2]

In [14]:
num[0]

1

In [15]:
cars = ["Mercedes", "BMW", "Audi"]

In [16]:
bikes = ["Honda", "Yamaha", "Aprilla"]

In [17]:
cars_bikes = cars + bikes
cars_bikes

['Mercedes', 'BMW', 'Audi', 'Honda', 'Yamaha', 'Aprilla']

In [18]:
num = [1, 2, 3, 4, 5]
sum = 0
for i in num:
  sum = sum + i
print(sum) # 15

15

In [19]:
num = [1, 2, 3, 4, 5]
if 1 in num:
  print("True")
else:
  print("False")

True

In [20]:
name = ['Tanu', 'Nanda']
name.append("Prabhu")
name.insert(2, "Prabi")
name

['Tanu', 'Nanda', 'Prabi', 'Prabhu']

In [21]:
name.remove("Nanda")
name

['Tanu', 'Prabi', 'Prabhu']

In [22]:
num.sort()
num

[1, 2, 3, 4, 5]

In [23]:
char = ['a', 'b', 'c', 'd']
char
['a', 'b', 'c', 'd']
char[1:-1]         ## ['b', 'c']
char

['a', 'b', 'c', 'd']

In [24]:
char[0:2] = 'z'    ## replace ['a', 'b'] with ['z']
char               ## ['z', 'c', 'd']|

['z', 'c', 'd']

In [25]:
dictionary = {}
dictionary = {'Name': 'Tanu', 'Sex': 'Male', 'Age': 23}
print(dictionary)

{'Name': 'Tanu', 'Sex': 'Male', 'Age': 23}

In [26]:
print(dictionary['Name'])

Tanu

In [27]:
dictionary = {'Name': 'Tanu', 'Sex': 'Male', 'Age': 23, 'Height': 5.8, 'Occupation': 'Student'}
print(dictionary)

{'Name': 'Tanu', 'Sex': 'Male', 'Age': 23, 'Height': 5.8, 'Occupation': 'Student'}

In [28]:
del dictionary['Name']
print(dictionary)

{'Sex': 'Male', 'Age': 23, 'Height': 5.8, 'Occupation': 'Student'}

In [29]:
# Popping the value

print(dictionary.pop('Sex'))

Male

In [30]:
dictionary.clear()
print(dictionary)

{}

In [31]:
dictionary = {'Name': 'Tanu', 'Sex': 'Male', 'Age': 23, 'Height': 5.8, 'Occupation': 'Student'}
print(dictionary)

{'Name': 'Tanu', 'Sex': 'Male', 'Age': 23, 'Height': 5.8, 'Occupation': 'Student'}

In [32]:
for i in dictionary:
    print(dictionary[i])

Tanu
Male
23
5.8
Student

### Ex. 2

Check and describe result of following methods:

```
All - returns if all elements in container none of elements in container is False
Any - returns true, if any element in container returns True
Len - returns length of container
Sorted - returns sorted container
Copy - returns copy of container, equal to listName[:]
Keys - returns iterable object containing keys from dictionary
Values - returns iterable object containing values from dictionary
```

In [52]:
# all
l1 = [1,2,] # True
l2 = [45,0] # False
l3 = []     # True
print(all(l1), all(l2), all(l3))

True False True

In [53]:
# any
l1 = (0, False, 21) # True
l2 = []             # False
print(any(l1), any(l2))

True False

In [56]:
# len
pythonString = 'python'
len(pythonString) # 6

6

In [58]:
# sorted
unsortedList = [23,1,4,-1,0]
sortedList = sorted(unsortedList)
print(unsortedList, sortedList, sep='\n')

[23, 1, 4, -1, 0]
[-1, 0, 1, 4, 23]

In [50]:
# copy
list1 = [1,2,3]
list2 = list1
list3 = list1.copy()
list2.append(123)
list3.append(456)
print(list1, list2, list3, sep='\n')

In [61]:
# keys values
dictionary = {'filename': 'main.py', 'type': 'python script file'}
print(dictionary.keys(), dictionary.values(), sep='\n')

dict_keys(['filename', 'type'])
dict_values(['main.py', 'python script file'])

### Strings

In [33]:
string = "This is a python tutorial"
print(string)

This is a python tutorial

In [34]:
print(type(string))

<class 'str'>

In [35]:
string = "Python"
print(string[2])

t

In [37]:
print(string[0:3])

Pyt

In [38]:
print(string[3:])

hon

In [39]:
print(string[::-1])

nohtyP

In [40]:
string = "Computer Programming"
list = string.split()

### Ex. 3

Create list of characters using string "String". Then convert it to dictionery where value is number of occurances of each character.

In [45]:
chars = [char for char in 'String']
d = {}
for char in chars:
  if char in d.keys():
    d[char] += 1
  else:
    d[char] = 1

print(d)

{'S': 1, 't': 1, 'r': 1, 'i': 1, 'n': 1, 'g': 1}

### Ex. 4

Check and describe outcome of following methods:

```
replace - replaces given substring with other given substring
join - concatenates all string in container with given separator
capitalize - changes first character of a string to uppercase and all other to lowercase.
find - returns index to first appearence to substring
strip - removes leading and trailing characters (space is default)
```

In [64]:
# replace
mainString = 'replaces given string with other given string'
print(mainString, mainString.replace('string', 'substring'), sep='\n')

replaces given string with other given string
replaces given substring with other given substring

In [65]:
# join
words = ['concatenates', 'all', 'strings', 'in', 'container', 'with', 'given', 'string']
sentance = ' '.join(words)
print(words, sentance, sep='\n')

['concatenates', 'all', 'strings', 'in', 'container', 'with', 'given', 'string']
concatenates all strings in container with given string

In [66]:
# capitalize
sentance = 'changes first character of a string to uppercase and all other to lowercase'
print(sentance.capitalize())

Changes first character of a string to uppercase and all other to lowercase

In [68]:
# find
sentence = 'returns index to first appearence to substring'
print(sentence[sentence.find('index'):sentence.find('index')+len('index')])

index

In [76]:
# strip
sentance = '______removes leading and trailing characters (space is default)_____'
print(f'{sentance}\n{sentance.strip("_")}')

______removes leading and trailing characters (space is default)_____
removes leading and trailing characters (space is default)

### Tuples

In [77]:
tuple = ("Today's", "Date", "Is", 15, "October", 2022)
print(tuple)

("Today's", 'Date', 'Is', 15, 'October', 2022)

In [78]:
print(type(tuple))

<class 'tuple'>

In [79]:
print(tuple[2])

Is

In [81]:
tuple1 = ("And", "its", "Thursday")
print(tuple1)

('And', 'its', 'Thursday')

In [82]:
nest = tuple, tuple1
print(nest)

(("Today's", 'Date', 'Is', 15, 'October', 2022), ('And', 'its', 'Thursday'))

In [83]:
tuple[0] = ("Hi") # What's happened?
print(tuple)

TypeError: ignored

In [84]:
for i in tuple:
    print(i)

Today's
Date
Is
15
October
2022

### Advanced Python Concepts

In this tutorial, a few advanced concepts (not class related) are introduced. This includes

- packing and unpacking
- context manager
- generators and decorators

### Packing and unpacking of values

Using `*` or `**` we can pack/unpack list-like objects and dict-like objects, respectively.

Let's play around...

In [85]:
def func(*args, **kwargs):
    print(f'args are {args}')
    print(f"kwargs are {kwargs}")

In [86]:
x = [1,23,4,]
y = {"vbb":234}
func(*x,**y)

args are (1, 23, 4)
kwargs are {'vbb': 234}

### Context manager

A context manager is an object that responds to a `with` statement. It may returns something. The basic idea is that some action is performed when entering a context and again when exiting it.

```
with context as var:
    # do something
```
translates to
```
# execute context entering code
var = return_from_context_entering_code
# do something
# execute context leaving code
```

The great advantage here is that the "leaving code" is automatically executed whenever we step out of the context!

This proved to be incredibly useful when operations have cleanup code that we need to execute yet that is tedious to write manually and can be forgotten.

In [87]:
with open('some_file', 'w') as opened_file:
    opened_file.write('Hola!')


### Using `yield`

_What is `yield`?_: It's like a return, except that the executioin stops at the `yield`, let's other code execute and, at some point, **continues** again where the yield was. Examples are:
- iterator: a function that yields elements. Everytime it is called, it is supposed to yield an element and then continue from there
- asynchronous programing: it stops and waits until something else is finished

In [88]:
def infinite_sequence():
    num = 0
    while True:
        yield num
        num += 1

In [89]:
gen = infinite_sequence()

In [91]:
next(gen)

1

In [95]:
next(gen)

5

### Using decorators

In [96]:
def add_one(number):
  return number + 1

add_one(2)

3

In Python, functions are first-class objects. It  can be passed around and used as arguments.

Inner functions:

In [97]:
def add_one(number):
  def do_smt():
    print("Hello")
  do_smt()
  return number + 1

add_one(2)

Hello

3

In [98]:
def add_one(number):
  def do_smt():
    print("Hello")
  def do_smt_diff():
    print("OK")
  if(number == 2):
    return do_smt()
  else:
    return do_smt_diff()
add_one(2)

Hello

Moving on to decorators: 

Decorators wrapped a function, and modified its behavior.

In [99]:
def my_decorator(func):
    def wrapper():
        print("Hi")
        func()
        print("Hello")
    return wrapper

def say_potato():
    print("Potato!")

In [100]:
say_potato()

Potato!

In [101]:
say_potato = my_decorator(say_potato)
say_potato()

Hi
Potato!
Hello

What's happened?

### Ex. 5

Create function which will increase input number on demand using `yield`. Then wrapped this function and add additional functionality.

In [1]:
def howler(func):
  def wrapper(*args, **kwargs):
    ret = func(args, kwargs)
    if ret%2 == 0:
      print("even")
    else:
      print("odd")
  return wrapper

def foo(inputNum):
  while True:
    inputNum += 1
    yield inputNum

In [12]:
gen = foo(10)
next(gen)

11

In [11]:
next(gen)

14